<ModalDialog @translucentOverlay={{true}}>
  <p>Do really you want to
    {{#if @isArchived}}
      unarchive
    {{else}}
      archive
    {{/if}}
    this user?</p>
  <div class='modal-button-group'>
    <button class='modal-button' type="button" {{on 'click' @onConfirmModal}}>Yes</button>
    <button class='modal-button' type="button" {{on 'click' @onDeclineModal}}>No</button>
  </div>
</ModalDialog>