{{#modal-dialog translucentOverlay=true}}
  <p>Do really you want to
    {{#if @isArchived}}
      unarchive
    {{else}}
      archive
    {{/if}}
    this user?</p>
  <div class='modal-button-group'>
    <button class='modal-button' {{on 'click' @onConfirmModal}}>Yes</button>
    <button class='modal-button' {{on 'click' @onDeclineModal}}>No</button>
  </div>
{{/modal-dialog}}